.container{
    display: grid;
    grid-template-rows: repeat(4, 400px);
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-area: 2px;
    padding: 2px;
}

.color{
    background-color: aqua;
    border: 1px solid red;
}

.item{
    padding: 4px;
}
