.box{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 100%;
    background-image: url(images/IMG_2336.JPG);
    background-repeat: no-repeat;
    background-position:right 90% top 20%;
}


/* .box1{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 100%;
    background-image: url(images/IMG_2336.JPG);
    background-repeat: no-repeat;
    background-position:right 400px top -300px;
} */